<div class="container">
  <div class="logo-container">
    <h1 style="margin-bottom: 0;line-height: 57px!important;font-size:50px!important;" class="left demo-logo">
      <div style="background-size: 50px 50px!important;height: 50px!important;margin-top: 0px!important;width: 50px!important;" class="logo"></div>
      canteir.us
    </h1>
  </div> <!-- /demo-headline -->
</div>
<div class="banner">
    <ul>
      <li style="background-image: url(/assets/switch/dev1.jpg); background-size: 100%; width: 25%; ">
        <h1>Um por todos, todos por um!</h1>
        <p>Aqui na Hue42 todo mundo faz de tudo um pouco, mas cada um é especialista em resolver seu problema!</p>
      </li>
      <li style="background-image: url(/assets/switch/dev2.jpg); background-size: 100%; width: 25%; ">
        <h1>Uma equipe ágil e auto gerenciavel</h1>
        <p>Somos dedicados igualmente em integridade, paixão e diversão!</p>
      </li>
      <li style="background-image: url(/assets/switch/dev3.jpg); background-size: 100%; width: 25%; ">
        <h1>Desenvolvedores que entregam!</h1>
        <p>Lembra daquele freela que não entrega? Somos uma delivery, e seu software vai ser entregue, quentinho!</p>
      </li>
    </ul>
</div>
<div class="container">
  <%= link_to "Entre com o Facebook", user_omniauth_authorize_path(:facebook), :class=>"btn btn-info btn-large", :style=>"display: table;margin: 0 auto;" %>
  <%= link_to "Sign in with Google", user_omniauth_authorize_path(:linkedin) %>
  <span style="display: table;margin: 0 auto;">ou</span>
  <a style="display: table;margin: 0 auto;" href="/jobs">Entre com seu email</a>
</div>
<br>
<footer class="palette palette-turquoise">
  <h4 style="display: table;margin: 0 auto;" >
    <a style="color:white;text-decoration:none" href="#">Empresa? Cadastre suas vagas aqui!</a>
  </h4>
</footer>