<div class="container">
  <div class="logo-container">
    <h1 style="line-height: 57px!important;font-size:50px!important;" class="left demo-logo">
      <div style="background-size: 50px 50px!important;height: 50px!important;margin-top: 0px!important;width: 50px!important;" class="logo"></div>
      canteir.us
    </h1>
  </div> <!-- /demo-headline -->
</div>
