<div class="row">
  <div class="span12">
    <div class="demo-browser">
      <div class="demo-browser-side">
        <div class="demo-browser-author"></div>
        <div class="demo-browser-action">
          <a class="btn btn-danger btn-large btn-block" href="http://twitter.com/monstercritic" target="_blank">
            Follow
          </a>
        </div>
        <h5><%= @company.name %></h5>
        <h6>
          <%= @company.location %>
          <a href="http://shmidt.in" target="_blank">shmidt.in</a>
        </h6>
      </div>
      <div class="demo-browser-content">
        <h4>Vagas Cadastradas</h4>
        <img src="images/demo/browser-pic-1.jpg" alt="" />
        <img src="images/demo/browser-pic-2.jpg" alt="" />
        <img src="images/demo/browser-pic-3.jpg" alt="" />
        <img src="images/demo/browser-pic-4.jpg" alt="" />
        <img src="images/demo/browser-pic-5.jpg" alt="" />
        <img src="images/demo/browser-pic-6.jpg" alt="" />
      </div>
    </div>
  </div>
</div>