/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .left{
  float:left;
 }
.logo-container{
  display:table;
}
.demo-logo .logo{
  background-size: 90px 63px!important;
  height: 63px!important;
  float: left!important;
  margin: 0!important;
  width: 90px!important;
}
.demo-logo {
  line-height: 67px!important;
}
.header-login{
  float: right;
}
.header-login a{
  color:#95A5A6;
  text-decoration: none;
  font-style: italic;
}
.top-menu{
  float: left;
  width: 342px;
  list-style: none;
  padding-top: 35px;
}
.top-menu li{
  display: inline-block;
  padding: 5px 10px;
}