/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-docs
 *= require bootstrap-responsive
 *= require companies
 *= require home
 *= require jobs
 *= require plans
 *= require prettify
 *= require users
 *= require flat-ui
 */
 .left{
  float:left;
 }
.logo-container{
  display:table;
}
.demo-logo .logo{
  background-size: 90px 90px!important;
  height: 90px!important;
  float: left!important;
  margin-top: -23px!important;
  width: 90px!important;
}
.demo-logo {
  line-height: 67px!important;
  cursor: pointer;
}
.header-login{
  float: right;
}
.header-login a{
  color:#95A5A6;
  text-decoration: none;
  font-style: italic;
}
.top-menu{
  float: left;
  width: 342px;
  list-style: none;
  padding-top: 35px;
}
.top-menu li{
  display: inline-block;
  padding: 5px 10px;
}
.top-menu a {
  text-decoration: none;
  color: #34495E;
}
.my_jobs{
  margin: 20px 0;
}
.my_jobs header,
.my_jobs footer,
.my_jobs article{
  text-align: left;
}
.my_jobs aside span,
.my_jobs aside div{
  display: block;
  text-align: right;
}
.my_jobs aside div{
  margin-top: 8px;
}
.my_jobs p b{
  display: block;
  float: left;
  width: 200px;
}
.my_jobs p,
.my_jobs span{
  display: table;
}
.right{
  float: right!important;
}
.left{
  float: left!important;
}
.header-empresa{
  margin-bottom: 10px;
}
.header-empresa img{
  border-radius: 100%;
  height: 160px;
  width: 160px;
}
.demo-tiles .span3{
  margin-bottom: 20px;
}