<h1>Preencha seu currículo</h1>
<h4>É através do seu currículo que terão a primeira impressão de você como profissional. Preenchê-lo de forma correta e completa
é um passo importante para aumentar o interesse das empresas por você.
<br><br>
Lembre-se: um currículo bem feito pode fazer a diferença na busca de novas oportunidades.</h4>
<%= render 'form' %>