<footer>
  <div class="container">
    <div class="row">
      <div class="span7">
        <!--<h3 class="footer-title">Assine</h3>
        <p>Do you like this freebie? Want to get more stuff like this?<br/>
          Subscribe to designmodo news and updates to stay tuned on great designs.<br/>
          Go to: <a href="http://designmodo.com/flat-free" target="_blank">designmodo.com/flat-free</a>
        </p>-->

        <!--<p class="pvl">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://designmodo.com/flat-free/" data-text="Flat UI Free - PSD&amp;HTML User Interface Kit" data-via="designmodo" data-size="large">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </p>-->

        <!--<a class="footer-brand" href="http://designmodo.com" target="_blank">
          <img src="/assets/footer/logo.png" alt="Designmodo.com" />
        </a>-->
      </div> <!-- /span8 -->

      <div class="span5">
        <div class="footer-banner">
          <!--<h3 class="footer-title">Get Flat UI Pro</h3>
          <ul>
            <li>Tons of Basic and Custom UI Elements</li>
            <li>A Lot of Useful Samples</li>
            <li>More Vector Icons and Glyphs</li>
            <li>Pro Color Swatches</li>
            <li>Bootstrap Based HTML/CSS/JS Layout</li>
          </ul>-->
          Empresa?: <a href="<%= new_company_session_path %>" target="_blank">logar aqui!</a>
        </div>
      </div>
    </div>
  </div>
</footer>