<!DOCTYPE html>
<html>
<head>
  <title>Canteiro</title>
  <style>
    body{
      margin:  0!important;
      padding: 0!important;
    }
    .wrapper{
      border-top: 6px solid #1ABC9C;
    }
    .banner {
      height: 420px!important;
      position: relative;
      width: 100%;
      overflow: auto;
      margin-bottom: 20px;
      
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      
      color: rgba(255,255,255,.6);
      text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
      
      background: #5b4d3d;
      box-shadow: 0 1px 2px rgba(0,0,0,.25);
    }
      .banner ul {
        list-style: none;
        width: 300%;
      }
      .banner ul li {
        display: block;
        float: left;
        width: 33%;
        padding: 160px 0 110px;
        
        min-height: 350px;
        
    /*    -webkit-background-size: 100% 100%;*/
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -ms-background-size: 100% 100%;
    /*    background-size: 100% 100%;*/
        
        box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
      }
      
      .banner h1, .banner h2 {
        font-size: 40px;
        line-height: 52px;
        
        color: #fff;
      }
      
      .banner .dot {
        -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
        filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
      }
      
      .banner .dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
      }
        .banner .dots li {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin: 0 4px;
          
          text-indent: -999em;
          
          border: 2px solid #fff;
          border-radius: 6px;
          
          cursor: pointer;
          opacity: .4;
          
          -webkit-transition: background .5s, opacity .5s;
          -moz-transition: background .5s, opacity .5s;
          transition: background .5s, opacity .5s;
        }
          .banner .dots li.active {
            background: #fff;
            opacity: 1;
          }
  </style>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <%= yield %>
  </div>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/assets/slide.js"></script>
  <script>
    $(function() {
      $('.banner').unslider({
        dots: true,
        speed: 500
      });
    });
  </script>
  <!-- UserVoice JavaScript SDK (only needed once on a page) -->
  <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/pJ3fdS2Jb0xCBNLlu4QfYQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

  <!-- A tab to launch the Classic Widget -->
  <script>
  UserVoice = window.UserVoice || [];
  UserVoice.push(['showTab', 'classic_widget', {
    mode: 'full',
    primary_color: '#c03a2b',
    link_color: '#007dbf',
    default_mode: 'support',
    forum_id: 215249,
    tab_label: 'Feedback',
    tab_color: '#c03a2b',
    tab_position: 'middle-right',
    tab_inverted: false
  }]);
  </script>
</body>
</html>